%h1 hello, this is ojiichankeitai2.
%a{href: "/login"}
  %img{src: "/image/button_gabari_off.png", alt: "login twitter"}

%hr
%h2 アプリっぽく起動するには
アイホンのサファリでアクセスして携帯画面でたらサファリの下のバー真ん中の飛び出るボタンみたいの押して'ホーム画面に追加'するとアプリっぽく起動できるようになります。

%h2 やめたい
twitterのwebからおじいちゃん携帯にオッス許可しないようにするとアイホン奪われて勝手にフロハされないようにできます。

