%html{manifest: "cache.manifest"}
  %head
    %title おじいちゃん携帯2
    %meta{name: "viewport", content: "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %link{rel: "apple-touch-icon", href: "/image/button_gabari_off.png"}
    %link{href: "/css/ojiichankeitai2.css", rel: "stylesheet", type: "text/css"}
    %script{src: "/js/underscore-min.js"}
  %body = body
